
<div ng-init="fetchConfigList()">


    <ul ng-repeat="logicalGroup in configList">

        <li>

            {{logicalGroup.logicalGroupName}}

            <ul ng-repeat="config in logicalGroup.appConfigs">
                   <li><a href = "#/show/{{config.id}}" >{{config.groupName}}</a></li>
            </ul>


        </li>
    </ul>

</div>