
<div ng-init="fetchConfigDetails()">


    <form name="configDetailsForm" ng-submit="updateConfig()">

    <div ng-repeat="config in keyList track by $index">

        <div >

            {{keyList[$index].key}} : <input type="text"  ng-model="keyList[$index].value">

        </div>
    </div>

    <input type="submit" value="Update" />

    </form>

</div>

